* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    /*color: #333;*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#main-layout {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #666666;
}

#header1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff; 
    color: #333;
    outline: none;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #252424;
}

#controlers {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

#reloj {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000; 
    background-color: 333333;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #666666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#reloj p {
    margin: 0;
}

#form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    
}

#form div label {
    margin-left: 10px;
    font-size: 1rem;
    color: #000000;
}

input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

#contenedor-fecha {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#fecha {
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    outline: none;
}

.ui-datepicker-trigger {
    width: 30px; 
    height: 30px; 
    margin-left: 20px;
}


#selector {
    width: 20px; 
    height: 20px; 
    margin-left: 10px; 
    cursor: pointer;
}

#cambiarTema {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: auto;
    cursor: pointer;
    z-index: 9999;
}

@media (max-width: 500px) {
    #main-layout {
        padding: 15px;
    }

    header#header1 {
        font-size: 1.5rem;
    }

    #tarea {
        font-size: 0.9rem;
    }

    input[type="button"] {
        font-size: 0.9rem;
    }

    #reloj {
        font-size: 1.2rem;
    }
}