{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-home.css') }}">
{% endblock %}

{% block body %}
    <div class="main-layout">
        <header class="header">
            <h1>Welcome</h1>
        </header>
        <main class="main-content">
            <a href="#">Sign-in</a>
            <a href="#">Sign-up</a>
        </main>
    </div>
{% endblock %}